<footer class="site_footer">
  <div class="footer-top">
    <span class="footer_logo"><a href="/"><img src="/images/logos/logo-dark.svg" alt="サイトロゴ"></a></span>
  </div>

  <div class="footer-links">
    <a href="/policy/">サイトご利用について</a>
    <a href="/contact/">お問い合わせ</a>
  </div>

  <div class="footer-bottom">
    <p><small>&copy;{{ "" | year }} Kai. All rights reserved.</small></p>
  </div>

</footer>