<footer class="site_footer">
  <div class="footer-top">
    <span class="footer_logo"><a href="/"><img src="/images/logos/logo.svg" alt="サイトロゴ"></a></span>
  </div>

  <div class="footer-links">
    <a href="/">HOME</a>
    <a href="/articles-list/">記事を読む</a>
    <a href="/about/">サイト紹介</a>
    <a href="/policy/">利用規約・プライバシーポリシー</a>
    <a href="/contact/">お問い合わせ</a>
  </div>

  <div class="footer-bottom">
    <p><small><br>&copy;{{ "" | year }} Kai. All rights reserved.</small></p>
  </div>

</footer>