  <!-- OGP -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ intro | escape }}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/images/articles/eyecatches/sns/{{ eyecatch }}">
  <meta property="og:locale" content="ja_JP">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ intro | escape }}">
  <meta name="twitter:image" content="{{ site.url }}/images/articles/eyecatches/sns/{{ eyecatch }}">
  <meta name="twitter:site" content="@setk_by_Kai">