  <!-- OGP -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description | default(intro) | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/images/logos/sns/sns_default.webp">
  <meta property="og:locale" content="ja_JP">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description | default(intro) | escape }}">
  <meta name="twitter:image" content="{{ site.url }}/images/logos/sns/sns_default.webp">