  <!-- OGP -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ intro }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/images/logos/sns/sample_sns.webp">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ intro }}">
  <meta name="twitter:image" content="{{ site.url }}/images/logos/sns/sample_sns.webp">