---
layout: layout-articles-list.njk
title: 記事一覧
description: 実際に調べたり試したりして分かった節約術・お得情報の記事一覧です。固定費、日常の買い物、旅行予約での節約情報を、すぐ使える節約ノウハウをわかりやすくまとめています。
pagination:
  data: collections.articles
  size: 10         # 1ページあたりの記事数
  alias: pageArticles
permalink: "{% if pagination.pageNumber == 0 %}/articles-list/index.html{% else %}/articles-list/page/{{ pagination.pageNumber + 1 }}/index.html{% endif %}"

---
