---
layout: layout-articles-list-tag.njk
title: 記事一覧
description: 旅行・お出かけを“戦略的におトクに楽しむ”ための記事一覧。価格に惑わされず、損しない視点で選ぶ方法をまとめています。
pagination:
  data: collections.articlesByTag
  size: 1 #これは何個のタグごとに1つのページ構成するか、という単位になっているらしい
  alias: item
permalink: "/articles-list/tag/{{ item.tag }}/index.html"
---